<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.google.samples.apps.topeka.asset">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_quiz">
        <dist:fusing dist:include="true" />
    </dist:module>

    <!-- This feature module doesn't contain code. -->
    <application android:hasCode="false" />
</manifest>

